mat-accordion{
    mat-expansion-panel{
        mat-expansion-panel-header{
            
            .title{
                font-size: large;
                font-weight: bolder;
            }
           
            .author{
                font-style: italic;
            }

            .spacer{
                width: 3rem;
            }
        }
    }
}

mat-spinner {
    margin: auto;
}

:host {
    display: block;
    margin-top: 1rem;
}