mat-accordion{
    mat-expansion-panel{
        mat-expansion-panel-header{
            font-size: large;
            font-weight: bolder;
        }
    }
}

mat-spinner {
    margin: auto;
}

:host {
    display: block;
    margin-top: 1rem;
}